* {
	box-sizing: border-box;
}
body {
	font-family: "Bebas Neue", cursive;
	font-family: "Lobster", cursive;
	font-family: "Poppins", sans-serif;
}
/* Header Style Start */

/* Navigation Style Start */
header .navbar .navbar-brand {
	font-size: 22px;
	font-weight: 700;
	color: #3e3e3e;
}
header .navbar .nav-item .nav-link {
	color: #3e3e3e;
	font-weight: 500;
}
/* Navigation Style End */

/* Carousel Style Start */
header .carousel {
	width: 100vw;
	height: 550px;
	background-color: rgba(0, 0, 0, 1);
	background-blend-mode: overlay;
}
header .carousel .carousel-item {
	width: 100%;

	height: 550px;
}
header .carousel .carousel-item img {
	width: 100% !important;
	height: 100% !important;
}
header .carousel .carousel-caption h5 {
	font-size: 48px;
	font-weight: 600;
}
header .carousel .carousel-caption p {
	font-weight: 300;
}
header .carousel .carousel-caption button {
	width: 148px;
	height: 44px;
	font-weight: 700;
}
header .carousel .carousel-caption button a {
	text-decoration: none;
}
/* Carousel Style Start */
/* Header Style End */
/* Main Section Start */

/*  Album Section  Start */
main .album .left img {
	max-height: 364px !important;
	width: 100%;
	max-width: 100vw;
}
main .album .right h2 {
	font-weight: 700;
	font-size: 38px;
	color: #0a0826;
}
main .album .right p {
	font-weight: 700;
	color: #6c6c6c;
}
main .album .toast {
	top: 64px;
	right: 48px;
	z-index: 1;
	background-color: rgb(255, 255, 255);
	border-left: 8px solid blue;
	border-radius: 0 !important;
}
main .album .toast .toast-body {
	color: #505050;
}
main .album .toast .toast-body button {
	right: 0px;
	transform: scale(75%);
}
/*  Album Section  End */
/*  Package Section  Start */
main .package .pricing .item {
	margin-right: 36px;
}
main .package .pricing .item h3 {
	font-weight: 700;
	font-size: 36px;
	color: #231d4f;
}
main .package .pricing .item h2 {
	font-weight: 700;
	font-size: 28px;
	color: #231d4f;
}
main .package .pricing .item p {
	font-weight: 400;
	font-size: 15px;
	color: #848199;
	width: 206px;
}

main .package .pricing .item button {
	background-color: rgba(244, 150, 209, 0.1);
	color: #3f87f5;
	font-weight: 700;
	font-size: 15px;
	width: 207px;
	height: 45px;
}
main .package .pricing .item .features .feature {
	display: flex;
	align-items: center;
	color: #848199;
	font-size: 15px;
}
main .package .pricing .item .features i {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: rgba(82, 67, 194, 0.1);
	font-size: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
}
main .package .pricing .highlights {
	background-color: blue;
	border-radius: 2rem;
	position: relative;
}
main .package .pricing .highlights i {
	background-color: rgba(255, 255, 255, 0.2) !important;
}
main .package .pricing .highlights .badges {
	position: absolute;
	top: -8px;
	right: 10%;
	width: 46px;
	height: 27px;
	background-color: #ff4e4e !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
main .package .pricing .highlights h2,
main .package .pricing .highlights h3,
main .package .pricing .highlights p,
main .package .pricing .highlights .features i,
main .package .pricing .highlights .features .feature,
main .package .pricing .highlights button {
	color: white;
}
main .package .pricing .highlights button {
	background-color: white;
	color: #3f87f5;
}
/*  Package Section  End */

/*  Feedback Section  Start */
main .feedback .card__item {
	width: 360px;
	height: 323px;
	max-width: 100vw;
}
main .feedback .card__item img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
/*  Feedback Section  End */
/* FAQ section start */
main .faq img {
	width: 546px;
	height: 364px;
	max-width: 100%;
	max-height: 100%;
}
main .faq .accordion-item h2 button {
	font-weight: 500;
	font-size: 20px;
	color: #383838;
}
main .faq .accordion-item .accordion-body {
	color: #7e848c;
	font-size: 16px;
}
/* FAQ section End */

/* Main Section End */
/* Footer Section Start */
footer {
	background-color: #0b0d17;
	max-width: 100vw;
	height: 280px;
}
footer .container > h3 {
	font-size: 14px;
	color: #d9dbe1;
}
footer .container .social > h3 {
	font-size: 18px;
	font-weight: 500;
	color: #d9dbe1;
}
footer .social a i {
	font-size: 20px;
}
footer .social a svg {
	display: inline-block;

	height: 20px;
}

footer .social a p {
	font-size: 8px;
}
footer .social button {
	border-radius: 8px;
	width: 140px;
	height: 48px;
}
footer .social a h3 {
	font-size: 15px;
	font-weight: 400;
}
footer button:hover {
	background-color: #0b0d17 !important;
}
/* Footer Section End */
